
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #87ede8, #bd4edf);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .login-box {
    background-color: white;
    padding: 30px 60px;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  .login-box h1 {
    margin-bottom: 20px;
    color: #333;
    font-size: 2rem;
  }
  
  .login-box label {
    display: block;
    margin: 15px 0 5px;
    font-weight: bold;
    text-align: left;
    color: #af53b9;
  }
  

  .login-box label i {
    margin-right: 8px;
    color: #89319b;
  }
  .login-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s ease;
  }
  
  .login-box input:focus {
    border-color: #a221b0;
  }
  
  .login-box p {
    font-size: 0.9rem;
    color: #555;
  }
  
  .login-box a {
    color: #9b30cd;
    text-decoration: none;
  }
  
  .login-box a:hover {
    text-decoration: underline;
  }

  .login-box button {
    width: 100%;
    padding: 12px;
    background-color: #b131bc;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .login-box button:hover {
    background-color: #e583ec;
  }
  
  @media (max-width: 480px) {
    .login-box {
      padding: 20px;
    }
  
    .login-box h1 {
      font-size: 1.5rem;
    }
  
    .login-box button {
      font-size: 0.9rem;
    }
  }